--- drivers/staging/zram/Kconfig
+++ drivers/staging/zram/Kconfig
@@ -27,6 +25,24 @@
 	  This option adds additional debugging code to the compressed
 	  RAM block device driver.
 
+choice ZRAM_COMPRESS
+	prompt "compression method"
+	depends on ZRAM
+	default ZRAM_LZO
+	help
+	  Select the compression method used by zram.
+	  LZO is the default. Snappy compresses a bit worse (around ~2%) but
+	  much (~2x) faster, at least on x86-64.
+config ZRAM_LZO
+	bool "LZO compression"
+	select LZO_COMPRESS
+	select LZO_DECOMPRESS
+config ZRAM_SNAPPY
+	bool "Snappy compression"
+	depends on SNAPPY_COMPRESS
+	depends on SNAPPY_DECOMPRESS
+endchoice
+
 config ZRAM_FOR_ANDROID
 	bool "Optimize zram behavior for android"
 	depends on ZRAM && ANDROID
